nav{
    color:red;


}
.navtext{
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
    color:blueviolet;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
        background-color:#1c1717;
    }

.ba {
    width: 310px;
    border-style: dotted;
    border-color: red;
    border-width: 5px;
    font-style:italic;
    text-shadow:4px 5px 6px red;

}

h1 {
    font-family: "Segoe Script", Tahoma;
    color: white;

}

.p1 {
    text-indent: 99px;
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #de2c2c;
}

.p2 {
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #de2c2c;
}

.his {
    width:112px;
    background:#991bb0;
    color:white;
    text-decoration: underline;
    font-style:italic;
    font-family:"Segoe Script", Tahoma;

}

.dress {
    text-decoration: underline;
    width: 80px;
    background: #de2c2c;
    Color: white;
}

.dtable {
    border-style: double;
    border-color: pink;

}

.chooseone {
    color:white;
    font-family:Gabriola;
    font-size:48px;
        }
.tot {
    font-family:"Comic Sans MS";
    font-size:62px;
    text-align:center;

}
.p3 {
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #de2c2c;
}
.treatbox{
    border-style:dashed;
    border-color:green;
    border-width:8px;
    border-spacing:20px 10px;
}
footer{
    text-align:center;
    color:rgb(70, 204, 70);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:19px;
}
.crwhite{
    color:white;
}

.trick{
    vertical-align:middle;
    background-image:url(images/Bgimage.jpg);
}

.box {
    width: 900px;
    height: 600px;
    background:#1c1717;
    position: absolute;
    top:50%;
    left:0;
    right:0;
    translate:0 -50%;
    margin:auto;
    display:grid;
    place-content:center;
  }
